{% extends 'base.html' %}
{% block content %}
<font size="+1" color="red">{{msg}}
</font>
<center>
<h2>Client  Registration</h2><br>

<form method="post" action="/usignupaction/">
 {% csrf_token %}
					

					<table  width="50%" cellspacing="10">
                    <tr><td><input class="form-control"  type="text" name="name" placeholder="Name" required="required" ></input></td></tr>
                    <tr><td><input class="form-control"  type="email" name="mail" placeholder="Email, example@example.com" required="required" onblur="validate1()"></input></td></tr>
                    <tr><td><input class="form-control"  type="text" name="ph" placeholder="Phone" required="required" onblur="validate3()"></input></td></tr>
                    <tr><td><input class="form-control"  type="Password" name="pwd" placeholder="Password" required="required" onblur="validate5()"></input></td></tr>

					<tr><td><input class="form-control"  type="number" name="age" placeholder="Age" min="0" max="100" required="true"></input></td></tr>
                    <tr><td>
					<select name="gen"  class="form-control"  >
						<option value="male" selected>Male
						<option value="female">Female
					</select><br>

					<tr><td><input class="form-control"  type="text" name="addr" placeholder="Address" required="required" onblur="validate3()"></input></td></tr>


					<tr><td><input type="submit" class="form-control" value="Register">
                
</table>
</form>

{% endblock %}